.container
  .jumbotron.text-center
    img(src='assets/images/hoopla_logo.png' alt='Hoopla')
    |     
    h1 Greetings, Programmer
  |   
  .row
    .col-xs-12
      ul
        li(ng-repeat='metric in metrics')
          | {{ metric.name }}
  |   
  hr
  |   
  .footer
    p
      | Thanks from 
      a(href='https://www.hoopla.net/') Hoopla
      | . Talk with you soon!
